<div class="resumen-contains">
  <div class="resumen">
    <h1>Resumen del mes de {{ mesActual }}</h1>
    <span  *ngIf="!loading">
      <div class="tipo">
        <label for="">Ingresos (+) </label>
        <label>{{ totalGastadoOtrosIngreso | pCurrency }}</label>
      </div>
      <div class="tipo">
        <label for="">Egresos (-)</label>
        <label>{{ totalGastadoOtrosEgreso | pCurrency }}</label>
      </div>
      <div class="tipo">
        <label for="">Debito (-)</label>
        <label>{{totalGastadoDebito | pCurrency }}</label>
      </div>
      <div class="tipo">
        <label for="">TC nacional (-)</label>
        <label>{{ totalGastadoCreditoNac | pCurrency }}</label>
      </div>
      <div class="tipo">
        <label for="">TC internacional (-)</label>
        <label>{{ totalGastadoCreditoInter | pCurrency }}</label>
      </div>
      <div class="tipo">
        <label for="">Total</label>
        <label>{{ totalGastos | pCurrency }}</label>
      </div>
    </span>
    <app-loader *ngIf="loading"></app-loader>
  </div>
</div>
