
<app-crear-registro [loadingCreandoRegistro]="loadingCreandoRegistro"
                    contexto="nacional"
                    (handleLimpiarRegistroSeleccionado)="onHandleLimpiarRegistroSeleccionado()"
                    (handleCrearRegistro)="onHandleCrearRegistro($event)">
</app-crear-registro>
<app-visualizar-registro  [registrosCreados]="registrosCreadosCredito"
                          [loading]="loading"
                          contexto="nacional"
                          [descargando]="descargando"
                          [pagination]="paginationSearch"
                          [totalGastado]="totalGastado"
                          (handleChangePagination)="onHandleChangePaginationSearch($event)"
                          (handleChangeCriterio)="onHandleChangeCriterio($event)"
                          (handleSeleccionarRegistro)="onHandleSeleccionarRegistro($event)"
                          (handleDescargarExcel)="onHandleDescargarExcel($event)"
                          (handleBorrarRegistro)="onHandleBorrarRegistro($event)">
</app-visualizar-registro>

<ng-template #modalConfirmacion>
  <app-modal
    icon="fas fa-exclamation-circle"
    customClass="warning"
    [title]="'Borrar registro'"
    [actionDefault]="'Cancelar'"
    [actionSuccess]="'Confirmar'"
    [activeLoading]="false"
    (handleConfirmActionSuccess)="onHandleConfirmBorrarRegistro()">
    <app-confirmacion
      icon="fas fa-exclamation-circle"
      [question]="'¿Está seguro de borrar este registro de su tarjeta de crédito nacional?'">
    </app-confirmacion>
  </app-modal>
</ng-template>
