<div class="formulario-contains">
  <div class="formulario">
    <form class="form-container" [formGroup]="form" (submit)="onSubmitForm()" autocomplete="off">
      <div class="item">
        <label for="type" class="form-label"><strong>Nombre<span class="color-red"><strong>*
              </strong></span> <i class="icon far fa-signature"></i> </strong></label>
        <input [class.msgErrorFields]="onValidateErrorFields('nombre')" type="text" formControlName="nombre"
          class="form-control" placeholder="Ingrese su nombre" maxlength="50">
        <span class="validation-message" *ngIf="onValidateErrorFields('nombre')"> * mensaje validación </span>
      </div>
      <div class="item">
        <label for="type" class="form-label"><strong>Email<span class="color-red"><strong>*
              </strong></span> <i class="icon far fa-envelope"></i> </strong></label>
        <input [class.msgErrorFields]="onValidateErrorFields('correo')" type="email" formControlName="correo"
          class="form-control" placeholder="ejemplo@mail.cl">
        <span class="validation-message" *ngIf="onValidateErrorFields('correo')"> * mensaje validación </span>
      </div>
      <div class="item">
        <label for="descripcion" class="form-label"><strong>Password<span class="color-red"><strong>*
              </strong></span>
            <i class="icon far fa-unlock-alt"></i>
          </strong></label>
        <input class="form-control" [class.msgErrorFields]="onValidateErrorFields('password')"
          formControlName="password" maxlength="12" type="password" placeholder="******">
        <span class="validation-message" *ngIf="onValidateErrorFields('password')">
          * mensaje validación
        </span>
      </div>
      <div class="item">
        <button class="btn btn-success" type="submit" [class.cursor__notallowed]="form.invalid || loadingCreate"
          [disabled]="form.invalid || loadingCreate">
          <i class="fad fa-spinner fa-pulse" *ngIf="loadingCreate"></i>
          {{ title }} usuario</button>
      </div>
    </form>

    <div style="text-align: center;">
      <p>
        ¿Ya tienes una cuenta??
      </p>
      <a routerLink="/auth/login" class="txt2">
        Ingresa aquí
      </a>
    </div>
  </div>
</div>
