@import "../../../../assets/scss/colors.scss";

.modal-header {
  color: #717171;
  &.warning {
    background-color: #157347;
    color: $color-white;
  }
}

.modal-footer {
  background-color: #efefef;
}
