.list-group{
  flex-direction: row;
  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}

.list-group:nth-child(1){
  @media screen and (max-width: 650px) {
    display: none;
  }
}

.list-group-item.active{
  background-color: #157347;
  border-color: #146c43
}

h2 {
  color: white;
  text-align: center;
}

.flex {
  @media screen and (min-width: 650px) {
    display: flex;
    justify-content: space-between;
  }
}

.space {
  @media screen and (max-width: 650px) {
    margin-top: 10px;
    li {
      width: 100%;
      text-align: center;
    }
  }
}

.btn-group{
  display: flex;
  @media screen and (min-width: 649px) {
    display: none;
  }
  button{
    background-color: #157347;
    border-color: #146c43
  }
  .dropdown-menu{
    width: 100%;
  }
}
