.list-group{
  flex-direction: row;
  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}
.list-group-item.active{
  background-color: #157347;
  border-color: #146c43
}

h2 {
  color: white;
  text-align: center;
}

.flex {
  @media screen and (min-width: 650px) {
    display: flex;
    justify-content: space-between;
  }
}

.space {
  @media screen and (max-width: 650px) {
    margin-top: 10px;
  }
}
