
<app-crear-registro [loadingCreandoRegistro]="loadingCreandoRegistro"
                    contexto="debito"
                    (handleLimpiarRegistroSeleccionado)="onHandleLimpiarRegistroSeleccionado()"
                    (handleCrearRegistro)="onHandleCrearRegistro($event)">
</app-crear-registro>
<app-visualizar-registro  [registrosCreados]="registrosCreadosDebito"
                          contexto="debito"
                          [loading]="loading"
                          [pagination]="paginationSearch"
                          [totalGastado]="totalGastado"
                          (handleChangePagination)="onHandleChangePaginationSearch($event)"
                          (handleChangeCriterio)="onHandleChangeCriterio($event)"
                          (handleSeleccionarRegistro)="onHandleSeleccionarRegistro($event)"
                          (handleBorrarRegistro)="onHandleBorrarRegistro($event)">
</app-visualizar-registro>

<ng-template #modalConfirmation>
  <app-modal
    icon="fas fa-exclamation-circle"
    customClass="warning"
    [title]="'Quitar producto/servicio de cotización'"
    [actionDefault]="'Cancelar'"
    [actionSuccess]="'Confirmar'"
    [activeLoading]="false"
    (handleConfirmActionSuccess)="onHandleConfirm()">
    <app-confirmacion
      icon="fas fa-exclamation-circle"
      [question]="'¿Está seguro de quitar producto/servicio de cotización?'">
    </app-confirmacion>
  </app-modal>
