<div class="contans-table">
  <div class="header">
    <div class="legend">
      <h3 *ngIf="contexto === 'otros'">Diferencia entre ingresos y egresos</h3>
      <h3 *ngIf="contexto !== 'otros'">Registro de gastos</h3>
      <h4 *ngIf="registrosCreados.length > 0 && !loading">Total gastado {{ totalGastado | pCurrency }}</h4>
    </div>
   <app-filtro-busqueda  [loading]="loading"
                         [service]="contexto"
                         (handleChangeCriterio)="onSearchCriterio($event)" ></app-filtro-busqueda>
  </div>
  <table class="table" *ngIf="registrosCreados.length > 0 && !loading">
    <thead>
      <tr>
        <th> Monto</th>
        <th> Descripción</th>
        <th *ngIf="contexto !== 'debito' && contexto !== 'otros'"> Cuotas</th>
        <th *ngIf="contexto !== 'debito' && contexto !== 'otros'"> N° cuota</th>
        <th *ngIf="contexto !== 'debito' && contexto !== 'otros'"> Facturación inmediata</th>
        <th> Tipo de transaccción</th>
        <th> Fecha de la compra</th>
        <th> Mes</th>
        <th> Año</th>
        <th> Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of registrosCreados">
        <td class="tdmoneda">
          <p>{{ item.monto | pCurrency}}</p>
        </td>
        <td class="tdtext">
          <p>{{ item.descripcion }}</p>
        </td>
        <td class="tdnumber" *ngIf="contexto !== 'debito' && contexto !== 'otros'">
          <p>{{ item.cuotas }}</p>
        </td>
        <td class="tdnumber" *ngIf="contexto !== 'debito' && contexto !== 'otros'">
          <p>{{ item.nCuota }}</p>
        </td>
        <td class="tdbutton" *ngIf="contexto !== 'debito' && contexto !== 'otros'">
          <i class="far fa-check" style="font-size: 20px;" *ngIf="item.facturacionInmediata"></i>
          <i class="far fa-times" style="font-size: 20px" *ngIf="!item.facturacionInmediata"></i>
        </td>

        <td class="tdtext">
          <p>{{ item.tipo }}</p>
        </td>
        <td class="tddate">
          <p>{{ item.fechaCompra | date: 'dd-MM-yyyy': 'UTC'}}</p>
        </td>
        <td class="tdtext">
          <p>{{ item.nombreMes }}</p>
        </td>
        <td class="tdnumber">
          <p>{{ item.anio }}</p>
        </td>
        <td class="tdbutton ">
          <button class="btn button-success" (click)="onEditarRegistro(item)" *ngIf="contexto === 'debito' || contexto === 'otros'">Editar registro</button>
          <button class="btn button-danger" (click)="onBorrarRegistro(item)">Borrar registro</button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-loader *ngIf="loading"></app-loader>
  <app-paginador class="width__100" *ngIf="registrosCreados.length > 0 && !loading" [config]="pagination"
    (changePagination)="onChangePagination($event)">
  </app-paginador>
  <div class="alert alert-warning" *ngIf="registrosCreados.length === 0 && !loading">
    No se registran datos
  </div>
</div>
